:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #F7F7F7;
  padding: 20px;
  
}

h1 {
  font-size: 10px;
  line-height: 1.1;
  background-color: yellow;
  
}

/* Logo */

.logo-container{
  
  font-size: 20px;
  display: flex;
  align-items: center; 
  gap: 10px;  
  padding: 0px;
}

.logo-img{
  width: 80px;
  height: auto;
}
.logo-text{
  font-family: "Times New Roman", Times, serif;
}

/* Contador de productos y botón para agregar */

.title-container{
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
  align-items: center;
}

.products-text{
  margin: 0%;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: left;
}
.products-count{
  margin: 0%;
  font-family: 'Inter', sans-serif;
  color: gray;
  font-size: 15px;
  text-align: left;
}

.add-button{
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  background-color: #033545;
  color: white;
  border: none;
}

/* Input */

.input-container{
  display:flex;
  align-items: center;
  gap: 20px;
}

/* Categorias */
.categories-container{
  margin-top: 20px;
  border: solid 1px grey;
  border-radius: 7px;
  align-items: center; /* centra verticalmente */
  
  min-height: 200px;
  height: auto; 
}

.categories-header{
  text-align: left;
  padding: 5px 10px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: solid 1px grey;
}

.category{
  display: flex;
  gap: 10px;
  justify-content: left;
  padding: 5px;
  border-bottom: solid 1px grey;
}

