:root {
  /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  font-family: ui-sans-serif, system-ui, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

#root {
    width: 100%;
    min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #111;
    margin:0;
    padding:0;
    width:100%;
}

.body-container{
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  margin:20px;
  min-height: calc(100dvh - 135px);
}



