/* Dropzone Area */
.dropzone {
  margin-top: 0.5rem;
  border: 1px dashed #e4e4e7;
  border-radius: 0.5rem;;
  padding: 2.5rem 1.5rem; /* py-20 equiv aprox */
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  color: black;
  font-size: 0.875rem;
}

.dropzone:hover {
  background-color: #f4f4f5;
}

.dropzone.active {
  border-color: #18181b;
  background-color: rgba(24, 24, 27, 0.05); /* primary/10 */
  outline: 2px solid rgba(24, 24, 27, 0.2);
}

.allowed-files{
    margin-top: 10px;
    font-size: 0.9rem;
    color: rgb(97, 97, 97);
    text-align: start;
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #f4f4f5;
  border-radius:0.8rem;
}

.file-item-card {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.file-icon-wrapper {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: var(--muted);
  margin-right: 0.75rem;
}


.file-info p{
  margin-bottom: 10px;
}

.file-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.file-size {
  font-size: 0.875rem;
}

/* Botón de eliminar */
.delete-btn {
  right: 1rem;
  top: 50%;
  
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}

.delete-btn i:hover{
  color: red;
}