    .overlay-documento{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }
    
    .modal-documento {
      background: white;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      /*min-width: 400px;*/
      max-width: 90%;
      text-align: center;
      z-index: 1001;

      max-height: 80vh;   /* el modal no puede superar el 80% de la pantalla */
      overflow-y: auto;   /* activa scroll vertical si se excede */
    }

    .inputs-documentos{
        text-align: start;
    }
