:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  /*overflow: hidden;*/
  background-color: #F7F7F7;
  padding: 0;
  
}

.body-container{
  background-color: white;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
  margin:20px;
  min-height: calc(100dvh - 40px);
}