.option-container{
    max-height: 150px;
    overflow-y: scroll;
    border: solid grey 1px;
    border-radius: 10px;
    position: absolute;  
    top: 100%;                
    left: 0;                  
    width: 100%;              
    background-color: white;  
    z-index: 100;             
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    box-sizing: border-box; 
}

.search-option{
    
}

.search-option:hover{
    background-color: #005FB8;
    color:white
}

