.new-part-box{
    display:flex;
    gap: 15px;
    justify-content:center
}

.delete{
    display: flex;
    align-items: center;

}

.delete:hover{
    cursor: pointer; 
    color:red;
}

.input-codigo{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0px;
    margin-top:5px;
    margin-bottom: 5px;
}

.input-descripcion{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0px;
    margin-top:5px;
    margin-bottom: 5px;
}

.input-descripcion input{
    margin-top: 0;
    margin-bottom: 0;
    margin-left:5px
}


.input-wrapper{
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px;
}

.input-wrapper input{
    margin:0    
}

.prefix{
    min-width: 30px;
    font-size: 0.875rem
}

.suffix{
    min-width: 30px;
    font-size: 0.875rem
}

.input-number{
    min-width: 60px;
    max-width: 80px;
}
