.new-part-box{
    display:flex;
    gap: 15px;
    justify-content:center
}

.delete{
    display: flex;
    align-items: center;
    background-color: yellow;
}

.delete:hover{
    cursor: pointer; 
    color: red;
}

.input-codigo{
    display: flex;
    background-color: red;
    align-items: center;
    font-size: 0.875rem;
    padding: 0px;
    margin:0px
}

.input-descripcion{
    display: flex;
    align-items: center;
    background-color: green;
    font-size: 0.875rem;
    padding: 0px;
    margin:0px
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.prefix{
    min-width: 30px;
    font-size: 0.875rem
}

.suffix{
    min-width: 30px;
    font-size: 0.875rem
}

.input-number{
    min-width: 60px;
    max-width: 80px;
}
