.new-part-box{
    display:flex;
    gap: 15px;
    justify-content:space-between
}

.delete{
    display: flex;
    align-items: center;
}

.delete:hover{
    cursor: pointer; 
    color: red;
}

.input-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.prefix{
    min-width: 30px;
}

.suffix{
    min-width: 30px;
}

.input-number{
    min-width: 60px;
    max-width: 80px;
}
