    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    /* Caja del modal */
    .modal {
      background: white;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.25);
      width: 400px;
      max-width: 90%;
      text-align: center;
      z-index: 1001;

      max-height: 80vh;   /* el modal no puede superar el 80% de la pantalla */
      overflow-y: auto;   /* activa scroll vertical si se excede */
    }

    .modal h2 {
      margin-top: 0;
      font-size: 18px;
    }

    .modal div label{
      display: flex;
      font-weight: 500;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    .modal input {
      width: 100%;
      padding: 8px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .modal .buttons {
      display: flex;
      justify-content: flex-end;
      gap: 15px;
    }

    .modal button {
      border: none;
      background: none;
      font-weight: bold;
      cursor: pointer;
      padding: 6px 12px;
    }

    .modal button.create {
      color: #1a73e8; /* Azul estilo Google */
    }

    .modal button.cancel {
      color: gray;
    }

    select {
      font-family: system-ui, sans-serif;
      font-size: 1rem;
      padding: 0.5em 1.5em 0.5em 0.5em;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: white;
      color: #333;
      cursor: pointer;
      width: 100%;
      margin: 15px 0;
    }