.detalle-documentos{
    border-radius: 10px;
    padding: 5px;
    flex: 1 1 200px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.part-title{
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

.part-title span{
    font-size: 1rem;
    font-weight: 600;
}

.display-documento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey ;
}

.display-documento div{
    display: flex;
    gap:5px;
    align-items: center;
}

#history_icon :hover{
    background-color: grey;
}