.detail-container{
}

.detail-container h1{
    text-align: start;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.detail-container p{
    text-align: start;
    margin-top: 0px;
    margin-bottom: 20px;
}

.detail{
    padding: 15px;
    text-align: start;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.detail-subtitle{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.detail-subtitle span{
    font-size: 1rem;
    font-weight: 600;
}


.part-list{
  /*list-style-type: none;*/
  padding-left: 0;
  margin-top: 10px;
  margin-left: 25px;
}

.part-list li{
  margin-top: 10px;
}

/*Pestaña de planos*/

.planos-list{
  list-style-type: none;
  margin-bottom: 20px;
  margin-left: 10px;
}

.planos-list li{
  margin-top: 10px;
}

.upload-container{
  /*margin-top: 15px;*/
}

/* Dropzone Area */
.dropzone {
  margin-top: 0.5rem;
  border: 1px dashed #e4e4e7;
  border-radius: 0.5rem;;
  padding: 2.5rem 1.5rem; /* py-20 equiv aprox */
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
  color: black;
  font-size: 0.875rem;
}

.dropzone:hover {
  background-color: #f4f4f5;
}

.dropzone.active {
  border-color: #18181b;
  background-color: rgba(24, 24, 27, 0.05); /* primary/10 */
  outline: 2px solid rgba(24, 24, 27, 0.2);
}

/* Lista de archivos subidos */
.file-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #f4f4f5;
  border-radius:0.8rem;
}

.file-item-card {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.file-icon-wrapper {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: var(--muted);
  margin-right: 0.75rem;
}


.file-info p{
  margin-bottom: 10px;
}

.file-name {
  font-size: 0.875rem;
  font-weight: 500;
}

.file-size {
  font-size: 0.875rem;
}

/* Botón de eliminar */
.delete-btn {
  right: 1rem;
  top: 50%;
  
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, color 0.2s;
}

.delete-btn i:hover{
  color: red;
}

.form-input{
  margin-bottom: 10px;
}

.form-input label{
  font-size: 1rem;
}

.add-span{
  color: #78787a;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
  background-color: white;
  border: none
}
.add-span:hover{
  cursor: pointer;
}

#add-icon{
  font-size: 1.7rem;
}

#close-button{
  font-size: 1.7rem;
  margin-top: 5px;
}

#close-button:hover{
  cursor: pointer;
}