.product-item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: solid 1px grey;
  margin-left: 10px;
  margin-right: 10px;
}

.product-item:hover {
    background-color:  rgb(243, 238, 238);
}

.product-name{
  display: flex;
  gap: 10px;
  align-items: center;
  flex:1;
  min-width: 0;
}

.product-name span{
  font-size: 14px;
  white-space: nowrap;      /* Evita que el texto salte al siguiente renglón */
  overflow: hidden;         /* Oculta lo que se desborde */
  text-overflow: ellipsis;  /* Agrega los "..." al final */
}

.product-name span:hover{
  cursor: pointer;
}


.product-name i{
  font-size: 20px;
  flex-shrink: 0;
}