

/* Contador de productos y botón para agregar */

.title-container{
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 30px;
  align-items: center;
}

.products-text{
  margin: 0%;
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-align: left;
}
.products-count{
  margin: 0%;
  font-family: 'Inter', sans-serif;
  color: gray;
  font-size: 15px;
  text-align: left;
}



/* Creación y filtrado de productos*/

.filters{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.search-box{
  display: flex;
  gap: 10px;
  width: 400px;
}

.search-box input{
  border-radius: 10px;
  padding: 5px;
  border: solid 1px grey;
  font-family: 'Inter', sans-serif;
}

.btn-search {
  display: flex;
  align-items: center;   /* centra vertical */
  justify-content: center; /* centra horizontal */
  
  width: 40px;    /* ancho fijo (puedes ajustarlo) */
  height: 40px;   /* alto fijo (para hacerlo cuadrado) */
  border: none;
  border-radius: 10px;
  background: #033545; /* o transparente */
  cursor: pointer;
}

.btn-search span{
  color: white;
}

.button-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 15px;
}

.add-button{
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10px;
  height: 45px;
  background-color: #033545;
  color: white;
  border: none;
}

.add-button:hover{
    cursor: pointer;
}
/* Listado de productos */

.product-list{
  margin-top: 20px;
  border: solid 1px grey;
  border-radius: 7px;
  align-items: center; /* centra verticalmente */
  
  min-height: calc(100dvh - 340px); /* resta 100px (el padding que quieras) */
  box-sizing: border-box; /* asegura que padding se considere dentro de la altura */
  height: auto; 
}

.product-list-header{
  text-align: left;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px 7px 0px 0px;
  border-bottom: solid 1px grey;
  background-color: rgb(243, 238, 238);
}
